* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


/*header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #e0e0e0;
}

.logo {
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: uppercase;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 0.9rem;
}

/* Accueil */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../Média/Image/logo.jpeg");
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.2;   
}



body {
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
}

/* Supprime toute croix  */
.placeholder-box::before,
.placeholder-box::after,
.placeholder-img::before,
.placeholder-img::after,
.placeholder-img-small::before,
.placeholder-img-small::after {
    content: none !important;
}




/* Navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.banneer-section {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;     /* Centre verticalement */
}


.banner-section .placeholder-banner { 
    width: 100%;
    height: 350px;
    background-color: #f0f0f0;
    display: flex;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
} 



.btn {
    padding: 8px 20px;
    border: 1px solid #333;
    background: transparent;
    cursor: pointer;
    font-size: 0.8rem;
    text-transform: uppercase;
    border-radius: 4px;
}

.btn:hover {
    background-color: #e0e0e0;
}

.btn-main {
    padding: 15px 30px;
    font-size: 3rem;
    background-color: #f5f5dc; /* Orange/Rouge style manga */
    color: white;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    border: none;
    cursor: pointer;
    transition: 0.3s;
    display: inline-block;
    margin-top: 20px;
}
.acceuil-content {
    text-align: center; 
    margin: 0 auto;   
    max-width: 600px;   
}

/* Style lorsque lont met le curseur sur le bouton */
.btn-main:hover {
    background-color: #e63e00;
    transform: scale(1.05);
}

.text-side { flex: 1; }


.Manga {
    text-align: center;
    padding: 50px;
}

.moment-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Crée 2 colonnes de taille égale */
    gap: 20px;                             /* Espace entre les deux images */
    justify-items: center;                 /* Centre les blocs horizontalement */
    margin: 20px 0;
}

.placeholder-img img {
    width: 100%;                           /* L'image s'adapte à la largeur du bloc */
    height: auto;
    border: none;
    outline: none;
    border-radius: 5px;
}
.moment-item {
    width: 100%;                           /* Prend toute la largeur de sa colonne */
    max-width: 400px;                      /* Évite que l'image devienne trop géante */
    text-align: center;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
}


.sub-title { 
    margin: 40px 0 20px; 
    font-weight: bold;
 }

.review-stars-grid .rewiew {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: 0 auto;
    color :#333;
    font-family:'Roboto', sans-serif;
}


.placeholder-banner img,
.placeholder-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/*bibliothèque */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    background-color: #fff;
    line-height: 1.6;
}

/* 3. Contenu Principal */
main {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

h1 {
    font-weight: normal;
    margin-bottom: 30px;
    font-size: 1.8rem;
    color: #444;
}


/* 4. Section Catégories */

.categories-grid {
    display: flex;
    justify-content: center; /* Centre le groupe */
    align-items: flex-start; /* Aligne les cercles par le haut */
    gap: 40px;
    flex-wrap: wrap; /* Passe à la ligne si pas de place */
}

.circle-icon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    flex-shrink: 0; /* Empêche le cercle de s'écraser */
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


.category-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

.category-name {
    font-size: 0.9rem;
    color: #555;
}



/*CONTACT
/* Container principal */
.contact-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
    text-align: left; /* Aligné à gauche comme sur l'image */
}

.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    margin-top: 30px;
}

/* Formulaire */
.contact-form {
    flex: 1;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #333;
    font-size: 0.8rem;
}

.form-group textarea {
    height: 80px;
    resize: none;
}

.send-btn {
    width: 100%;
    padding: 10px;
    background-color: #e0e0e0;
    border: 1px solid #333;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: bold;
    margin-top: 10px;
}


/*A PROPOS\*/
/* Contenu */
.content {
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
}

.section-header h1 {
    font-size: 28px;
    margin-bottom: 5px;
    background-color: #eee;
    display: inline-block;
    padding: 0 10px;
}

.section-header p {
    color: #666;
    font-size: 14px;
}



/* Team */
.team-section {
    margin-top: 80px;
}

.team-section h2 {
    font-size: 24px;
}


.team-grid {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px; 
    margin-top: 30px;
}

.circle-avatar {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    border-radius: 50%;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.05);
}

.icon {
    font-size: 20px;
    color: #555;
}

.name {
    font-weight: bold;
    font-size: 14px;
}

.role {
    font-size: 11px;
    color: #888;
    text-transform: uppercase;
}

.footer-note {
    text-align: left;
    margin-top: 60px;
}

/* les differente pages action, fantaisie, comedie, horreur*/
.manga-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 30px;
    padding: 40px 5%;
}

.manga-card {
    text-align: center;
}

.manga-card img {
    width: 100%;
    height: 320px;
    object-fit: cover; 
    border-radius: 10px;
}
.hero {
    width: 100%;
    height: 350px;
    background-image:url('../Média/Image/Img28.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    color: white;
    font-size: 4rem;
    text-transform: uppercase;
}
iframe {
    border: none;
}